<% content_for :header, 'Recommendation' %>
<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul role="list" class="divide-y divide-gray-200">
    <%= render(Recommendations::HealthPolicyComparisionSelectionListComponent.with_collection(@recommendation_health_policies)) %>
  </ul>
</div>
